body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .logo img {
    height: 50px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  ul li {
    margin-left: 20px;
  }
  
  ul li a,
  ul li form {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #444;
    border-radius: 4px;
  }
  
  ul li form {
    margin-left: 10px;
  }
  
  ul li form button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
  }
  
  ul li a:hover,
  ul li form:hover {
    background-color: #555;
  }
  
  .glassmorphism-button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    transition: background 0.3s ease;
    margin-left: -40px; /* Adjusted margin-left to move Logout button more to the left */
  }
  
  .glassmorphism-button:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f39c12;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.8;
    transition: transform 0.1s ease;
  }
  